* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;

    background-color: #a7af49;

    font-family: 'Courier New', Courier, monospace;
}

.birthday__card {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 25rem;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;

    border-radius: 10px;
    background-color: #f9f9fa;
    background-image: url('../assets/img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.birthday__profile {
    display: flex;
    align-items: center;

    width: 90%;
    margin: 10px auto;
    padding: 10px;

    border-radius: 10px;
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    gap: 20px;
}

.birthday__profile img {
    width:20%
}

.btn__clear {
    width: 90%;
    padding: 10px;

    color: #fff;
    border: none;
    background-color: #148e92;
}

#birthday_counter {
    margin-top: 1rem;
}
